<div class="container">
  <div class="imgContainer"></div>
  <div class="registerContainer">
    <h1>Cadastrar-se</h1>
    <section>
      <label for="username">Nome:</label>
      <input id="username" type="text" placeholder="Seu nome de usuário">
    </section>
    <section>
      <label for="email">Email:</label>
      <input id="email" type="email" placeholder="exemplo@email.com">
    </section>
    <section>
      <label for="password">Senha:</label>
      <input id="password" type="password" >
    </section>
    <button>Cadastrar-se</button>
    <a href="">Já possui uma conta?</a>
  </div>
</div>
