* {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #B10000;
  height: 6vh;
  width: 100vw;
  position: fixed;
  color: honeydew;
  font-family: sans-serif;
  align-items: center;
}

.content {
  background-color: #1E1E1E;
  height: 88vh;
  width: 100vw;
  padding-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.logo {
  font-size: 2rem;
  transition: 0.3s;
}

.logo:hover {
  cursor: pointer;
  scale: 1.1;
  color: #9e9c9c;
}

.menuButton {
  margin-left: 2rem;
}

.menu {
  color: honeydew;
  transition: 0.3s;
  font-size: 2rem;
}

.menu:hover {
  color: #9e9c9c;
  scale:1.1;
}

.userInfo {
  display: flex;
  margin-right: 2rem;
  gap: 1rem;
  align-items: center;
}

.calendar-container {
  text-align: center;
  padding: 5rem;
  width: 80%;
}

.calendar-header {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: #ffeeee;
}

.calendar-header button {
  padding: 5px 10px;
  color: #e62c2c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.calendar th, .calendar td {
  color: #e62c2c;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  vertical-align: top;
}

.calendar td {

  height: 100px;
  background: #f9f9f9;
}

.calendar td.empty {
  background: #bcbcbc;
}

.calendar td strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.calendar ul {
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.calendar ul li {
  background: #ffe787;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
}

.content::-webkit-scrollbar {
  background-color: #1E1E1E;
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10px;
}


::ng-deep .mat-mdc-menu-panel {
  border: 1px solid white;
  background-color:  #1E1E1E;

}

.mat-mdc-menu-content {
  padding: 0;
}

.matMenuButton {
  border-bottom: 1px solid white;
  color: white;
  padding: 0 1rem;
  transition: 0.3s;
}

.matMenuButton:hover {
  background-color: #505050;
  color: #e3e3e3;
}

.matMenuButton:last-child {
  border-bottom: none;
}

