<div class="postFeed">
  <div *ngFor="let news of newsList" class="postContainer">
    <div class="post">
      <img [src]="news.imgUrl" alt="Imagem da notícia" class="postImage">
      <div class="postContent">
        <h2>{{ news.title }}</h2>
        <p class="info">{{ news.info }}</p>
        <p class="time">{{ news.time }}</p>
        <div class="postActions">
          <button
            class="likeButton"
            mat-button
            (click)="likePost(news)">
            <mat-icon class="like" [class.liked]="isPostLiked(news)">thumb_up</mat-icon>
            <span [class.liked]="isPostLiked(news)">{{ news.likes }}</span>
          </button>

          <button
            class="dislikeButton"
            mat-button
            (click)="dislikePost(news)">
            <mat-icon class="dislike" [class.disliked]="isPostDisliked(news)">thumb_down</mat-icon>
            <span [class.disliked]="isPostDisliked(news)">{{ news.dislikes }}</span>
          </button>


        </div>
      </div>
    </div>

    <div *ngIf="news.expanded" class="expandedContent">
      <div [innerHTML]="convertNewlinesToBreaks(news.hiddenText)"></div>
    </div>

    <div class="postExpand" (click)="toggleExpand(news)">
      <mat-icon class="chevron">{{ news.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      <hr>
    </div>
  </div>
</div>
