* {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #B10000;
  height: 6vh;
  width: 100vw;
  position: fixed;
  color: honeydew;
  font-family: sans-serif;
}

.userInfo {
  display: flex;
}
