<div class="container">
  <header>
    <button class="menuButton" mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon class="menu">menu</mat-icon>
    </button>
    <p class="logo">JP Online</p>
    <div class="userInfo">
      <span>Olá, {{ username }}</span>
      <mat-icon>account_circle</mat-icon>
    </div>

    <!-- Menu principal -->
    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item>Denúncias</button>
      <button mat-menu-item>Calendário de Eventos</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>

  </header>
  <app-post-list [newsList]="newsList"></app-post-list>
  <footer></footer>
</div>
