.backgroundContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.form-container {
  background: #272727;
  padding: 25px;
  border-radius: 8px;
  width: 300px;
  border: 2px solid #cf2828;
}

form mat-form-field {
  width: 100%;

}

.statusLabel {
  color: honeydew;
}

.status {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 16px;
}

.status button {
  margin: 0;
  width: unset;
  padding: 8px 16px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.status button:hover {
  scale: 1.05;
  opacity: 0.8;
  cursor: pointer;
}

.status button.active {
  opacity: 0.7;
  scale: 1.05;
  border: 2px solid red;
}

.pending{
  background-color: #636363;
  border: 1px solid honeydew;
}

.done {
  background-color: #00c100;
  border: 1px solid honeydew;
}

button {
  width: 100%;
  margin-top: 10px;
}

.file-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.custom-file-upload {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background: #f5f5f5;
}

.custom-file-upload mat-icon {
  font-size: 18px;
}

#file-upload {
  display: none; /* Esconde o input original */
}
