<div class="container">
  <header>
    <button class="menuButton" mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon class="menu">menu</mat-icon>
    </button>
    <p class="logo">JP Online</p>
    <div class="userInfo">
      <span>Olá, {{ username }}</span>
      <mat-icon>account_circle</mat-icon>
    </div>

    <mat-menu #mainMenu="matMenu">
      <button class="matMenuButton" mat-menu-item (click)="navigateToFeed()">Notícias</button>
      <button class="matMenuButton" mat-menu-item (click)="navigateToSchedule()">Calendário de Eventos</button>
      <button class="matMenuButton" mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </header>

  <button mat-fab class="addButton" (click)="openForm()">
    <mat-icon>add</mat-icon>
  </button>
    <div class="overlay" *ngIf="formOpen">
      <app-complaint-insert (complaintAdded)="complaintAdded($event)"></app-complaint-insert>
    </div>
  <app-complaint-list [complaintsList]="complaintsList"></app-complaint-list>



  <footer></footer>
</div>
